.jobSeekerContainer {
  background-color: var(--white);
  width: 100%;
  max-width: 16.5rem;
  border-radius: 1rem;
  border: solid 1px var(--border01);
  margin: 0.9375rem 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  transition: background-color 0.5s ease, border 0.5s ease;
  margin-bottom: 1.5rem !important;
  flex-grow: 1; 
  height: 300px;
}

.jobSeekerContainer:hover {
  background-color: var(--Fifth);
  border: solid 0.0625rem var(--secondary); 
  cursor: pointer;
}

.contentContainer {
  width: 90%;
  max-width: 13.25rem; 
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.circularImage {
  width: 5rem; 
  height: 5rem; 
  border: solid 0.0625rem var(--secondary); 
  border-radius: 50%;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem !important;
}

.jobTitle {
  color: var(--secondary);
  font-size: 0.75rem; 
  margin-bottom: 0.5rem;
}

.locationContainer {
  background-color: var(--border03);
}

.locationText {
  font-size: 0.75rem; 
  color: var(--Paragraph02);
}

.separator {
  width: 100%;
  margin: auto;
  margin-bottom: 14px; 
  border: solid 1px var(--border01); 
}

.skillsContainer {
  width: 100%;
  margin: auto;
}

.viewProfileButton {
  margin-top: 0.875rem; 
  font-size: 1rem;
  background-color: var(--secondary);
  color: var(--white);
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.viewProfileButton:hover {
  background-color: var(--Third);
  color: var(--white);
}


@media (max-width: 991.98px) {
    .viewProfileButton {
    font-size: 14px;

}
}
